.menu
  .menu__user-name
    %h3
      -if user_signed_in?
        =current_user.name
    = link_to edit_user_registration_path do
      %i.fa.fa-cog
    = link_to new_group_path do
      %i.fa.fa-pencil-square-o
  = render @groups
.chat-view
  .chat-view__group-details
    %h2
      = @group.name
    = link_to 'Edit',edit_group_path(id: @group.id), class: "edit-button"
    %p
      Members :
      -@users.each do |user|
        =user.name

  .chat-view__history
    = render @messages
  .chat-view__form
    = form_for ([@group, @message]) do|f|
      =f.text_field :body, placeholder: 'type a message', class:'message-text-field'
      =f.submit class: "send-button", value: "Send"
      %i.fa.fa-picture-o
      = f.file_field :image, id: "message_image"
