.menu
  .menu__user-name
    %h3
      -if user_signed_in?
        =current_user.name
    = link_to edit_user_registration_path do
      %i.fa.fa-cog
    = link_to new_group_path do
      %i.fa.fa-pencil-square-o
  = render partial: 'group', collection: @groups
.chat-view
  .chat-view__group-details
    %h2
      = @group.name
    = link_to 'Edit', class: "edit-button"
    %p Members: naya
  .chat-view__history
    = render @messages
  .chat-view__form
    =form_for ([@group, @message]) do|f|
      =f.text_field :body, name:'body', placeholder: 'type a message', type: 'text', class:'message-text-field'
      =f.submit class: "send-button", value: "Send", name: "commit"
      %i.fa.fa-picture-o